<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="affiliate">
            <h2><span jhiTranslate="obraSocialApp.affiliate.detail.title">Affiliate</span> {{affiliate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="obraSocialApp.affiliate.startDate">Start Date</span></dt>
                <dd>
                    <span>{{affiliate.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="obraSocialApp.affiliate.endDate">End Date</span></dt>
                <dd>
                    <span>{{affiliate.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="obraSocialApp.affiliate.number">Number</span></dt>
                <dd>
                    <span>{{affiliate.number}}</span>
                </dd>
                <dt><span jhiTranslate="obraSocialApp.affiliate.pay">Pay</span></dt>
                <dd>
                    <span>{{affiliate.pay}}</span>
                </dd>
                <dt><span jhiTranslate="obraSocialApp.affiliate.remark">Remark</span></dt>
                <dd>
                    <span>{{affiliate.remark}}</span>
                </dd>
                <dt><span jhiTranslate="obraSocialApp.affiliate.company">Company</span></dt>
                <dd>
                    <div *ngIf="affiliate.company">
                        <a [routerLink]="['/company', affiliate.company?.id, 'view']">{{affiliate.company?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/affiliate', affiliate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
