<div>
    <h2 id="page-heading">
        <span jhiTranslate="obraSocialApp.affiliate.home.title">Affiliates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-affiliate" [routerLink]="['/affiliate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obraSocialApp.affiliate.home.createLabel">
            Create new Affiliate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="affiliates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="obraSocialApp.affiliate.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="obraSocialApp.affiliate.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="number"><span jhiTranslate="obraSocialApp.affiliate.number">Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pay"><span jhiTranslate="obraSocialApp.affiliate.pay">Pay</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="obraSocialApp.affiliate.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="company.name"><span jhiTranslate="obraSocialApp.affiliate.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let affiliate of affiliates ;trackBy: trackId">
                <td><a [routerLink]="['/affiliate', affiliate.id, 'view' ]">{{affiliate.id}}</a></td>
                <td>{{affiliate.startDate | date:'mediumDate'}}</td>
                <td>{{affiliate.endDate | date:'mediumDate'}}</td>
                <td>{{affiliate.number}}</td>
                <td class="text-center">
                        <fa-icon [icon]= "affiliate.pay ? 'check':'times'" aria-hidden="true"
                        class="{{affiliate.pay ? 'text-success':'text-danger'}}"></fa-icon>
                       <!--{{affiliate.pay}}-->
                    </td>
                <td>{{affiliate.remark}}</td>
                <td>
                    <div *ngIf="affiliate.company">
                        <a [routerLink]="['../company', affiliate.company?.id, 'view' ]" >{{affiliate.company?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/affiliate', affiliate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/affiliate', affiliate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'affiliate', { outlets: { popup: affiliate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="affiliates && affiliates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
