<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-provider-heading" jhiTranslate="obraSocialApp.provider.home.createOrEditLabel">Create or edit a Provider</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!provider.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="provider.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obraSocialApp.provider.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="provider.startDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obraSocialApp.provider.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="provider.endDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obraSocialApp.provider.number" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                        [(ngModel)]="provider.number" required/>
                    <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.number?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-control-label" for="field_pay">
                            <input type="checkbox" class="form-check-input" name="pay" id="field_pay"
                            [(ngModel)]="provider.pay" />
                            <span jhiTranslate="obraSocialApp.provider.pay">Pay</span>
                    </label>
                    <div [hidden]="!(editForm.controls.pay?.dirty && editForm.controls.pay?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pay?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obraSocialApp.provider.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="provider.remark" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obraSocialApp.provider.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="provider.company"  required>
                        <option *ngIf="!editForm.value.company" [ngValue]="null" selected></option>
                        <option [ngValue]="companyOption.id === provider.company?.id ? provider.company : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
