<div>
    <h2 id="page-heading">
        <span jhiTranslate="obraSocialApp.module.home.title">Modules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-module" [routerLink]="['/module/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obraSocialApp.module.home.createLabel">
            Create new Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="obraSocialApp.module.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="obraSocialApp.module.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="module.id"><span jhiTranslate="obraSocialApp.module.module">Module</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="moduleType.id"><span jhiTranslate="obraSocialApp.module.moduleType">Module Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tag.id"><span jhiTranslate="obraSocialApp.module.tag">Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="company.id"><span jhiTranslate="obraSocialApp.module.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let module of modules ;trackBy: trackId">
                <td><a [routerLink]="['/module', module.id, 'view' ]">{{module.id}}</a></td>
                <td>{{module.name}}</td>
                <td>{{module.description}}</td>
                <td>
                    <div *ngIf="module.module">
                        <a [routerLink]="['../module', module.module?.id, 'view' ]" >{{module.module?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="module.moduleType">
                        <a [routerLink]="['../module-type', module.moduleType?.id, 'view' ]" >{{module.moduleType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="module.tag">
                        <a [routerLink]="['../tag', module.tag?.id, 'view' ]" >{{module.tag?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="module.company">
                        <a [routerLink]="['../company', module.company?.id, 'view' ]" >{{module.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/module', module.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/module', module.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'module', { outlets: { popup: module.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="modules && modules.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
