<div>
    <h2 id="page-heading">
        <span jhiTranslate="obraSocialApp.columnModule.home.title">Column Modules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-column-module" [routerLink]="['/column-module/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obraSocialApp.columnModule.home.createLabel">
            Create new Column Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="columnModules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tableName"><span jhiTranslate="obraSocialApp.columnModule.tableName">Table Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="columnName"><span jhiTranslate="obraSocialApp.columnModule.columnName">Column Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeInd"><span jhiTranslate="obraSocialApp.columnModule.activeInd">Active Ind</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataType"><span jhiTranslate="obraSocialApp.columnModule.dataType">Data Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="obraSocialApp.columnModule.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defaultValue"><span jhiTranslate="obraSocialApp.columnModule.defaultValue">Default Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="module.id"><span jhiTranslate="obraSocialApp.columnModule.module">Module</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let columnModule of columnModules ;trackBy: trackId">
                <td><a [routerLink]="['/column-module', columnModule.id, 'view' ]">{{columnModule.id}}</a></td>
                <td>{{columnModule.tableName}}</td>
                <td>{{columnModule.columnName}}</td>
                <td>{{columnModule.activeInd}}</td>
                <td>{{columnModule.dataType}}</td>
                <td>{{columnModule.description}}</td>
                <td>{{columnModule.defaultValue}}</td>
                <td>
                    <div *ngIf="columnModule.module">
                        <a [routerLink]="['../module', columnModule.module?.id, 'view' ]" >{{columnModule.module?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/column-module', columnModule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/column-module', columnModule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'column-module', { outlets: { popup: columnModule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="columnModules && columnModules.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
