<div>
    <h2 id="page-heading">
        <span jhiTranslate="obraSocialApp.roleList.home.title">Role Lists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-role-list" [routerLink]="['/role-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obraSocialApp.roleList.home.createLabel">
            Create new Role List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="roleLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="role"><span jhiTranslate="obraSocialApp.roleList.role">Role</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="obraSocialApp.roleList.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resource"><span jhiTranslate="obraSocialApp.roleList.resource">Resource</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="obraSocialApp.roleList.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roleType.type"><span jhiTranslate="obraSocialApp.roleList.roleType">Role Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roleList of roleLists ;trackBy: trackId">
                <td><a [routerLink]="['/role-list', roleList.id, 'view' ]">{{roleList.id}}</a></td>
                <td>{{roleList.role}}</td>
                <td>{{roleList.description}}</td>
                <td>{{roleList.resource}}</td>
                <td>
                    {{roleList.user?.login}}
                </td>
                <td>
                    <div *ngIf="roleList.roleType">
                        <a [routerLink]="['../role-type', roleList.roleType?.id, 'view' ]" >{{roleList.roleType?.type}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/role-list', roleList.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/role-list', roleList.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'role-list', { outlets: { popup: roleList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="roleLists && roleLists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
