<div *ngIf="!showData; else forminfo">
<mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="wizzardForm">
                    <ng-template matStepLabel>Select your company</ng-template>
                    <mat-form-field formControlName="company">
                        <mat-select placeholder="Company">
                            <mat-option *ngFor="let company of companies" [value]="company.name" required>
                                {{company.name}}
                            </mat-option>
                        </mat-select>
                        <!--<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
                    </mat-form-field>
                    <!--{{wizzardForm.value.company}}-->
                    <div align="end">
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Select your module</ng-template>
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            {{node.item}}
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                            <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.item}}
                            <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate"
                                class="example-tree-progress-bar"></mat-progress-bar>
                        </mat-tree-node>
                    </mat-tree>
                    <div align="end">
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Search specifications</ng-template>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Select option">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br />
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Option 1</mat-radio-button>
                        <mat-radio-button value="2">Option 2</mat-radio-button>
                    </mat-radio-group>
                    <div align="end">
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                        <button (click)="showData=!showData">ShowData</button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>

        <ng-template #forminfo>
            <div class="form-container">
              <div class="row columns">
                  <h1>{{ name }}</h1>
                  <p>{{ description }}</p>
                  <button (click)="showData=!showData">ShowData</button>
              </div>
            </div>
          </ng-template>