<div *ngIf="!showData; else dataInfo">
    <form [formGroup]="rForm">
            <h1>My Reactive Form</h1>
            <mat-form-field>
                <mat-select [(value)]="companySelected" placeholder="Company">
                    <mat-option *ngFor="let company of companies" [value]="company.name" required>
                        {{company.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p>company: {{companySelected}}</p>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    {{node.item}}
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.item}}
                    <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar">
                    </mat-progress-bar>
                </mat-tree-node>
            </mat-tree>
    </form>
</div>
<ng-template #dataInfo>
                    <p>company: {{companySelected}}</p>
    <button (click)="showData=!showData">ShowData</button>
</ng-template>